<%= notice %>

<h1>Total Students =  <%= @students.count%></h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Email</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>

  <% @students.each do |student|%>
    <tr>
      <th scope="row"><%= student.id %></th>
      <td><%= student.name %></td>
      <td><%= student.age %></td>
      <td><%= student.email %></td>
      <td>
      <%= link_to 'Show' , student %> ||
      <%= link_to 'Edit' , edit_student_path(student) %> || 
      <%= link_to 'Delete' , student , method: :delete, data: {
        confirm: 'Are you sure you want to delete?'
      } %>
      </td>
    </tr>    
    <% end %>
  </tbody>
</table>

